<!DOCTYPE html>
<html>
<head>
  <!-- taken example of _layouts/default.html from https://github.com/Bilalh/bilalh.github.com/blob/source/_layouts/default.html -->
  {% if page.title %}
  <title>{{ page.title }} - {{ site.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}

  <meta name="author" content="Steven Only" />
  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% else %}
  <meta name="description" content="{{site.title }} {{ page.title }}" />
  {% endif %}

  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}" />
  {% endif %}

  <meta name="robots" content="noodp, nydir" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/main.css" type="text/css" rel="stylesheet" />

</head>

<body>
  <!-- HEADER -->
  <div class="container">
    <div class='row'>
      <div class='span12'>
        <header>
          <div class='prof-pic'></div>
          <h1 class='title'> Steven's blog </h1>
          <div class='clear'></div>
        </header>
      </div>
    </div>

    <div class='spacer'></div>

    <!-- Navigation list -->
    <div class='row'>
      <div class='span2'>
        <nav role="navigation">
          <ul class='nav nav-list side-nav'>
            <li><a href="/">Home</a></li>
            <li><a href="/portfolio/">Portfolio</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>

      <!-- Main Content -->
      <div id="main" class="span10">
        {{ content }}
      </div>
    </div>


  </div>
  {% include all.js.html %}
</body>

</html>