<!DOCTYPE html>
<html>
<head>
  <!-- taken example of _layouts/default.html from https://github.com/Bilalh/bilalh.github.com/blob/source/_layouts/default.html -->
  {% if page.title %}
  <title>{{ page.title }} - {{ site.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}

  <meta name="author" content="Steven Only" />
  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% else %}
  <meta name="description" content="{{site.title }} {{ page.title }}" />
  {% endif %}

  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}" />
  {% endif %}

  <meta name="robots" content="noodp, nydir" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/main.css" type="text/css" rel="stylesheet" />

</head>

<body>
  <!-- HEADER -->
  <div id="main" class="container">
    <div class="row">
      <div class="span12">
        <header>
          <div class="prof-pic"></div>
          <h1 class="title"> Steven's blog </h1>
          <div class="clear"></div>
        </header>
      </div>
    </div>

    <div class="spacer"></div>

    <!-- Navigation list -->
    <div class="row">
      <div class="span2">
        <nav role="navigation">
          <ul class="nav nav-list side-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/portfolio.html">Portfolio</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>

      <!-- Main Content -->
      <div class="span10 min-height main-content">
        {{ content }}
      </div>
    </div>


    <div class="spacerx4"></div>



    <!-- Footer -->
    <hr>
    <div class="row">
      <div class="span12 center footer">
        <p>Steven's blog 2013 | Find me on github <a href="https://github.com/SeiryuZ">@SeiryuZ</a> </p>
      </div>
    </div>


  </div>
  {% include all.js.html %}
</body>

</html>